<div data-controller="modal">
  <button
    class="p-2 rounded-lg hover:bg-slate-600"
    data-action="click->modal#open">
    <%= feature.public_send(attribute) || "Not set" %>
  </button>

  <dialog data-modal-target="dialog" class="hidden fixed inset-0 flex items-center justify-center bg-black/50">
    <div class="flex flex-col bg-slate-500 rounded-lg shadow-lg w-full max-w-xl p-6">
      <div class="flex justify-end space-x-2">
        <button
          type="button"
          class="px-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
          data-action="modal#close">
          X
        </button>
      </div>
      <div class="mt-4">
        <form action="<%= feature_path(feature) %>" method="post">
          <input type="hidden" name="_method" value="put" />
          <%# <input type="hidden" name="feature_name" value="<%= feature.name %1>" /> %>
          <label class="font-bold text-slate-800">Update <%= attribute %></label>
          <input
            type="datetime-local"
            class="block mt-1 p-2 rounded-lg bg-slate-300 text-slate-600 border border-slate-400"
            name="<%= attribute %>"
            value="<%= feature.public_send(attribute) %>" />
          <button
            type="submit"
            class="block mt-4 mx-auto p-2 rounded-lg text-slate-300 bg-blue-900 border border-blue-950 hover:bg-blue-800">
            Save
          </button>
        </form>
      </div>
    </div>
  </dialog>
</div>
