<div class="m-12">
  <a href="<%= feature.href %>" class="p-2 rounded-lg text-xl text-slate-400 bg-blue-900 border border-blue-950 hover:bg-blue-800">Back</a>
  <div class="mt-12 w-1/3 m-auto bg-gray-800 text-slate-400 p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-6">Entities for feature <%= feature.name %></h1>
    <h2 class="text-xl font-bold">Add entity</h2>
    <form action="<%= feature.add_entity_path %>" method="post">
      <div data-controller="search" data-search-url-value="/flipside/search_entity" class="w-full flex p-0 gap-2 items-center">
        <select
          name="class_name"
          data-search-target="param"
          data-search-param="class_name"
          data-action="search#clearAll"
          class="border text-slate-600 border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
          <% Flipside.entity_classes.each do |class_name| %>
            <option value="<%= class_name %>"><%= class_name %></option>
          <% end %>
        </select>

        <input
          type="hidden"
          data-search-target="value"
          name="identifier" />
        <div class="flex-grow inline-flex flex-col">
          <input
            type="text"
            autocomplete="off"
            list="entity-results"
            data-action="search#search"
            data-search-target="input"
            placeholder="Search..."
            class="border text-slate-600 border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <datalist
            id="entity-results"
            class="bg-slate-400 mt-2 rounded-md"
            data-search-target="results"
            data-action="click->search#select" />
        </div>
        <button
          type="submit"
          class="ml-2 p-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400" >
          Add
        </button>
      </div>
    </form>

    <div class="mt-8">
      <h2 class="text-xl font-bold">Enabled entities</h2>
      <ul>
        <% feature.entities.each do |entity| %>
          <li class="mt-1 p-3 bg-slate-700 text-slate-300 border border-slate-600 rounded-lg">
            <div class="flex justify-between items-center">
              <div>
                <%= Flipside.display_entity(entity.flippable) %> (<%= entity.flippable_type %>)
              </div>
              <div>
                <form action="<%= feature.remove_entity_path %>" method="post">
                  <input type="hidden" name="entity_id" value="<%= entity.id %>" />
                  <button type="submit" class="p-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">Remove</button>
                </form>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
